.mainContent{
    width: 82%;
    height: 100%;
    padding: .8em;
    overflow: auto;
    display: flex;
    justify-content: center;
    
    
    .bottom{
        margin-top: 6em;
        padding: 1em;
        height: 79vh;
        width: 75vw;
    }

}