.container{
    background-color:#fff;
    position:relative;
    max-width: 900px;
    width: 100%;
    border-radius: 6px;
    padding:30px;
    margin:auto;   
    margin-top: 80px; 
    box-shadow:0 5px 10px rgba(0,0,0,0.1);
}
.container header {
    position: relative;
    font-size: 20px;
    font-weight: 600;
    color: #333;
}
.container header::before{
    content: "";
    position: absolute;
    bottom:-2px;
    width:27px;
    height: 3px;
    background-color: #4070f4;
    border-radius: 8px;

}
.container form {
    position: relative;
    margin-top:16px;
    min-height:490;
    padding-left: 10px;
    /* background-color: #f2f2f2; */
}
.container form .details {
    margin-top:10px;
}
.container form .title{
    font-size:16px;
    font-weight: 500;
    margin:6px 0;
    color: #333;
}
.container form .title-bassin {
    font-size: 18px;
    font-weight: 700;
    margin: 12px 0;
    color:#330;
}
.container form .fields {
    display: flex;
    align-items: center;
}
.container form .input-field{
    margin: 10px 10px;

}
.container form .fields1 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.container form .fields2 {
    display: flex;
    flex-direction: column;
}
.container form .fields2 .text-field {
    width: 15% ;
    margin:10px 10px;
}


